
:root{
  --debug-opacity: 0.2;

  --height-to-width: calc((2002 / 3558) * 100); /* bg image height-to-width ratio as a percentage (EX: 2002 x 3558 px -> 56.26*/
  --element-gap-size: 3vw; /* use to adjust how large the gaps between elements is */
  
  /* --- text adjustment --- */
  color: #FEFFEF;
  --text-padding: 1rem;
  font-family: "Verdana", "Tahoma", "Trebuchet MS", sans-serif;
}

#background{
  max-width: 100%;
  background-image: url("https://tlethanslol.github.io//th_themes/foggy_pines/images/foggy-pines.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 0;
  padding-top: calc(var(--height-to-width) * 1%);
  position: relative;
}

#content-anchor{
  position: absolute; top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-color-overlay{
  background-color: rgba(0, 0, 0, 0.48);

  width: calc(100% - 2*var(--element-gap-size));
  height: calc(100% - 2*var(--element-gap-size));

  display: flex;
  align-items: center;
  justify-content: center;
}

#content-container{
  background-color: rgba(255, 0, 0, var(--debug-opacity));

  width: calc(100% - 2*var(--element-gap-size));
  height: calc(100% - 2*var(--element-gap-size));

  display: flex;
  justify-content: space-between;
  column-gap: var(--element-gap-size)
}

#text-container{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, var(--debug-opacity));
}

#character-portrait{
  width: 33%; /* adjust the width of the character portrait */
  height: 100%;

  background-image: url("https://tlethanslol.github.io/th_themes/foggy_pines/images/larchpaw_portrait.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#header-box{
  max-width: 100%;
  background-color: #1E1E1E;
  padding: var(--text-padding);
}

#title-box{
  max-width: 100%;
}

#name{
  max-width: 100%;
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, var(--debug-opacity));
}